
<div class="container-wrap"></div>
      <div class="container">
         <div class="login-wrap">
           <form>
            <div class="input-box">
                <div class="icon-u-i"></div>
                <input type="text" placeholder="请输入您的账号" ng-model="formData.username" />
            </div>
            <div class="input-box">
                <div class="icon-p-i"></div>
                <input type="password" placeholder="请输入您的密码" ng-model="formData.password"/>
            </div>
            <div class="btn-login">
              <a href="javascript:;" ng-click="processForm()">登录账号</a>
            </div>
           </form>
           <div class="clear"></div>
         </div>
