			<span class="lines"></span>
					<div class="r right yahei relative" ng-controller="topCtrl">
						<span></span>
						<span class="J_user hand" ng-click="toggle()">
							{{loginUsername}}
							<em class="sj-down imgm"></em>
						</span>
						<div class="power shadow" ng-show="visible">
							<img class="sj" src='../../images/up.png'>
							<ul>
								<li>
									<a class="editNews" href="#modifypassword">修改密码</a>
								</li>
								<li>
									<a class="quit" href="/#logout">安全退出</a>
								</li>
							</ul>
						</div>
					</div>